Django>=4.2
djangorestframework
django-filter
django-cors-headers
dj-database-url
django-environ
mozilla-django-oidc
authlib
PyJWT>=2.8.0
djangorestframework-simplejwt>=5.5.1
psycopg2-binary
asgiref>=3.6.0
celery[redis]
redis
gunicorn
python-dotenv
requests
africastalking==2.0
drf-spectacular
pytest
pytest-django
pytest-cov
coverage
factory-boy
flake8
black
pytest-mock
